# Testing modules
jupyter
ipywidgets

# Environment
pydantic
pydantic-settings
python-dotenv

# API
grpcio-tools
uvicorn
fastapi
python-multipart
python-socketio
websockets

# Audio processing
ffmpeg-python
faster-whisper

# Testing
aiofiles

# Text postprocessing
openai



